@use 'breakpoints' as *;

// Transitions
$transition-base: all 0.2s ease;

// Flexbox mixins
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// Media Query Mixins
@mixin respond-to($breakpoint) {
  @if $breakpoint == xs {
    @media (min-width: $breakpoint-xs) { @content; }
  }
  @if $breakpoint == sm {
    @media (min-width: $breakpoint-sm) { @content; }
  }
  @else if $breakpoint == md {
    @media (min-width: $breakpoint-md) { @content; }
  }
  @else if $breakpoint == lg {
    @media (min-width: $breakpoint-lg) { @content; }
  }
  @else if $breakpoint == xl {
    @media (min-width: $breakpoint-xl) { @content; }
  }
}

// Button styles
@mixin button-base {
  border: none;
  padding: var(--spacing-xxs) var(--spacing-xxs) var(--spacing-xxs)
    var(--spacing-xs);
  font-size: var(--font-size-regular);
  line-height: var(--line-height-regular);
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  transition: $transition-base;
  display: inline-flex;
  align-items: center;

  svg {
    margin-left: var(--spacing-xxs);
  }

  &:hover {
    transform: translateY(-2px);
  }
  &:not(:last-of-type) {
    margin-right: 10px;
  }
}

// Container
@mixin container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--spacing-md);
}
